@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Indie+Flower&display=swap');
.pageHolder{
  margin: 5vw;
}
body{
  background-color: #a5a5a5;
}
.title{
font-family: "Abril Fatface";
font-size: 3vw;
text-align: center;
}
.totalTodo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vw;
  margin-bottom: 1vw;
border: 2px solid black;

}
.deleteButton{
  cursor: pointer;
  background-color: red;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top:.75vw;
  padding-bottom:.75vw;
}
.doneButton{
  cursor: pointer;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top:.75vw;
  padding-bottom:.75vw;
}
.task{
  font-family: "Indie Flower";
  outline: black 2px dashed;
  margin-right: .5vw;

font-size: 2vw;
}
.inputHolder{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:.75vw;
  padding-bottom:.75vw;
  border: 2px solid black;

}
.arrow{
  font-size: 100%;
  padding: .5vw;
  cursor: pointer;
  background-color: lightgray;
}